extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
    each message in messages 
      li 
        strong #{message.author}
        br
        span #{message.content}
        br
        span.date Date: #{new Date(message.created_at).toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'short' })}
